<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: 'Edit Campground' }); %>
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main>
        <div class="container">
            <h2>Edit Campground</h2>

            <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST">
                <label for="title">Campground Title</label>
                <input type="text" name="title" id="title">

                <label for="location">Campground Location</label>
                <input type="text" name="location" id="location">

                <button type="submit">Edit</button>
            </form>

            <a href="/campgrounds/<%= camp._id %>">Cancel</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>