<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: 'Edit Campground' }); %>
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main>
        <div class="container">
            <%- include('../partials/alert') %>
            <h2 class="text-center">Edit Campground</h2>
            <div class="col-6 offset-3 my-5">

                <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="camp[title]" value="<%= camp.title %>" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="camp[location]" value="<%= camp.location %>" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="image">Image URL</label>
                        <input class="form-control" type="text" id="image" name="camp[image]" value="<%= camp.image %>" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label mb-3" for="price">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">₹</span>
                            <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="camp[price]" value="<%= camp.price %>" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="camp[description]" rows="3" required><%= camp.description%></textarea>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary">Update Campground</button>
                    </div>
                </form>

                <a href="/campgrounds/<%= camp._id %>">Cancel</a>

            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>