<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Index Page for YelpCamp'}); %>
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    
    <main>
        <div class="container">
            <h2>All Campgrounds</h2>
            <ul>
                <%  for (camp of camps) { %>
                <li><a href="/campgrounds/<%= camp._id %> "><%= camp.title %></a></li>
                <% } %> 
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>    
</body>
</html>