<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'View Campground'}); %>
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card mb-3">
                        <img src="<%= camp.image %>" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title"><%= camp.title %></h5>
                            <p class="card-text"><%= camp.description %></p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-muted"><%= camp.location %></li>
                            <li class="list-group-item">₹<%= camp.price %> /night</li>
                        </ul>

                        <div class="card-body">
                            <a class="card-link btn btn-info" href="/campgrounds/<%= camp._id %>/edit">Edit</a>

                            <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>