<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'View Campground'}); %>
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main>
        <div class="container">
            <h2><%= camp.title %></h2>
            <p><%= camp.location %></p>
            <img src="<%= camp.image %>" alt="camp image">
            <p><%= camp.description %></p>

            <div>
                <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
                <a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
            </div>

            <div>
                <a href="/campgrounds">All Campgrounds</a>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>